<footer th:fragment="piepagina" class="footer">
   <div class="container-fluid">
      <div class="row text-muted">
         <div class="col-6 text-start">
            <p class="mb-0">
               <a href="#" class="text-muted">
               <strong>STO Consulting - @Copyright - Derechos reservados</strong>
               </a>
            </p>
         </div>
         <div class="col-6 text-end">
            <ul class="list-inline">
               <li class="list-inline-item">
                  <a href="#" class="text-muted">Contacto</a>
               </li>
               <li class="list-inline-item">
                  <a href="#" class="text-muted">Sobre nosotros</a>
               </li>
               <li class="list-inline-item">
                  <a href="#" class="text-muted">Terminos y Condiciones</a>
               </li>
               <li class="list-inline-item">
                  <a href="#" class="text-muted"></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>